* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin-top: 50px;
}

#calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}

#display {
  padding: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  text-align: right;
  font-size: 35px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
}

#buttons {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#number-0 {
  grid-column: span 2;
}
#equal-btn {
  grid-row: span 2;
}
